
<!DOCTYPE html>
<html>
<head>
	<title>The Gossip Project - User</title>
</head>
<body>
	<h1>User</h1>
	<h3><%= @author.first_name %> <%= @author.last_name %></h3>
		<p>De <%= @author.city.name %>, <%= @author.age %> ans</p>
	<h5>Description</h5>
		<p><%= @author.description %></p>
	<h5>Email</h5>
		<p><%= @author.email %></p>
	<h5>Member since</h5>
		<p><%= @author.created_at %></p>
	<h5>Last profile update</h5>
		<p><%= @author.updated_at %></p>
</body>
</html>
